.gridform {
  display: grid;
  grid-gap: 10px;
  background-color: lightcoral;
  padding: 10px;
  grid-auto-flow: row;
  width: 500px;
  text-align: center;
}
.gridform label,
.gridform input {
  font-family: sans-serif;
  align-items: center;
  padding: 10px;
}
